/*MAIN CSS FILE FOR FENNER*/

//DEFINE VARIABLES
//Fonts
$helvetica: 'Neue Helvetica W01', sans-serif;
$helveticaBold: 'Neue Helvetica W02', sans-serif;
$tisa: 'ff-tisa-web-pro', serif;
$thin: 200;
$light:300;
$regular:400;
$medium:500;
$bold:600;
$heavy:700;

//Colors
$red: #f43c46;
$blue: #4a2e9f;
$green:  #00cc8f;
$bgGray: #eeeeee;
$bgDarkGray: #dcdcdc;
$lightGray: #c1c1c1;
$medGray: #707070;
$darkGray: #1d2121;
$black: #000;
$white: #fff;


//Sizes
$desktopPadding: 13.5%;
$desktopThinPadding:6.4%;
$oneCol: 8%;
$threeCol: 26.5%;
$threeHalfCol: 31.4%;
$fourCol: 35.6%;
$fiveCol: 49.375%;
$eightCol: 72.5%;
$navHeight: 86px;

//Misc


//DEFINE MIXINS
@mixin topPanel
{
	margin-top: $navHeight;
	background-size: cover;
	background-position: right top;
	height: calc(100% - 86px);
	position: relative;
}

@mixin fullHeight
{
	height: 100%;
	position: relative;
}

/*RESET*/
*
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	color: $black;
}

html
{
	font-size: 10px;
	height: 100%;
}

body
{
	height: 100%;
}

nav
{
	padding: 30px 8%;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	border-bottom: 1px solid $lightGray;
	background-color: $white;


	#logo
	{
		height: 25px;	
		display: blok;
		float: left;
		transition: fill .25s ease-in-out;
		
		&:hover
		{
			fill: $red;
		}
	}
	
	ul
	{
		list-style-type: none;
		float: right;
	
		li
		{
			display: inline-block;
			font-family: $helvetica;
			font-size: 1.3em;
			font-weight: $medium;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-right: 2em;
			padding-top: .5em;
			
			
			&:last-child
			{
				margin-right: 0;
			}
			
			a
			{
				color: $black;
				transition: color .25s ease-in-out;
			}
			
			a:hover
			{
				color: $red;
			}
		}
	}
}

#homePage
{

	@include fullHeight;
	
	#top
	{
		@include topPanel;
		background-image: url(../assets/images/introBG.png);
		
		#tagline
		{
			margin-left: $desktopPadding;
			width: 50%;
			top: 15%;
			position: absolute;
		}
	}
	
	#about
	{
		padding: 150px $desktopPadding;
		
		#portrait
		{
			background-image: url(../assets/images/patrick.png);
			width: 29%;
			padding-bottom: calc(29% - 12px);
			background-position: center;
			background-size:cover;
			border-radius: 50%;
			border: 6px solid $blue;
			float: left;
		}
		
		.content
		{
			width: 60%;
			float: right;
		}
	}
	
	#services
	{
		padding: 150px $desktopPadding 450px;
		background-image: url(../assets/images/servicesPanel.png);
		background-position: center;
		background-size: cover;
		
		ul
		{
			padding-top: 11px;
			padding-left: 7.6%;
		}
		
		h2
		{
			color: $green !important;
		}
	}
	
	#testimonials
	{
		padding: 100px $desktopThinPadding 200px;
		background-color: $red;
		
		#quoteContainer
		{
			width: $eightCol;
			position: relative;
			left: 13.75%;
		}
		
		#testLeft
		{
			/*background-color: yellow;*/
			margin-top: 225px;
			position: absolute;
			left: $oneCol;
		}
		
		#testRight
		{
			margin-top: 225px;
			position: absolute;
			right: $oneCol;
			text-align: right;
			
			img
			{
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
	}
	
	#studies
	{
		.top
		{
			padding: 100px $desktopPadding 15px;
		}
		
		h2
		{
			color: $green;
		}
		
		.studyThumb
		{
			width: 50%;
			padding-bottom: 30%;
			float: left;
			background-position: center;
			background-size: cover;
			transition: background-color .25s ease-in-out;
			
			
			&:hover
			{
				background-color: mix($green, $white, 70%);
				background-blend-mode: luminosity;
				cursor: pointer;
				
			}
		}
		
		h3
		{
			font-family: $helveticaBold;
			font-weight: $bold;
			font-size: 1.6em;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			position: absolute;
			width: 20%;
			margin-left: 15%;
			margin-top: 13%;
			color: $white;
		}
		
		#cases
		{
			background-color: lighten($lightGray, 0%);
		}
		
		#caseCMSD
		{
			background-image: url("../assets/images/thumbCMSD.png");
		}
		
		#caseTech
		{
			background-image: url("../assets/images/thumbTech.png");
		}
		
		#caseClass
		{
			background-image: url("../assets/images/thumbClass.png");
		}
		
		#caseLighting
		{
			background-image: url("../assets/images/thumbLighting.png");
		}
		
		#caseRecording
		{
			background-image: url("../assets/images/thumbRecording.png");
		}
	}
	
	
	h2
	{
		color: $blue;
		font-size: 4em;
		font-family: $helvetica;
		font-weight: $medium;
		margin-bottom: .2em;
	}
	
	h3
	{
		color: $darkGray;
		font-size: 2.1em;
		font-family: $helvetica;
		font-weight: $regular;
		line-height: 1.6em;	
	}
	
	p
	{
		font-family: $tisa;
		font-size: 2em;
		color: $medGray;
		line-height: 1.6em;
		margin-bottom: 2.3em;
	}
	
	a
	{
		font-family: $helvetica;
		color: $blue;
		font-weight: $medium;
		font-size: 1.6em;
		text-transform: uppercase;
		letter-spacing: 1px;
		transition: all .25s ease-in-out;
		
		&:link
		{
			color: $blue;
		}
		
		&:hover
		{
			color: lighten($blue, 30%);
		}
	}
	
	ul
	{
		list-style-type: none;
		
		li
		{
			font-family: $tisa;
			font-size: 2em;
			color: $medGray;
			line-height: 1.6em;
			padding-left: 1em ;
			text-indent: -1em;
		
		
			&:first-child
			{
				color: $darkGray;
				font-size: 1.6em;
				font-family: $helvetica;
				font-weight: $medium;
				line-height: 1.6em;	
				text-transform: uppercase;
				letter-spacing: 1px;
			}	
		
		}
		
	}
	
	q
	{
		font-family: $helvetica;
		font-weight: $thin;
		font-size: 3.8em;
		line-height: 1.3em;
		color: $white;
		display: block;
		text-align: center !important;
		margin: 0 auto .7em;
		
		&:before, &:after
		{
			content: "";
		}
		
		img
		{
			display: inline-block;
			margin-bottom: 50px;
		}
		
		
	}
	
	cite
	{
		font-family: $tisa;
		font-size: 2em;
		color: $white;
		display: block;
		text-align: center;
		font-style: normal;
		margin: 0 auto;
		font-weight: $regular;
	}
	
		
}

#contact
	{
		padding: 100px $desktopPadding 150px;
		display: none;
		overflow: hidden;

		&.closed
		{
			
		}
		

		#close
		{
			position: absolute;
			right: 1em;
			font-size: 4em;
			margin-top: -2em;
			color: $lightGray;
			transition: color .25s ease-in-out;
			/*opacity: 0;*/
			display: none;
			
			&:hover
			{
				cursor: pointer;
				color: $medGray;
			}
		}

		form
		{
			padding-top: 20px;

			input, textarea
			{
				background-color: lighten($lightGray, 15%);
				padding: .3em 1em .6em;
				font-family: $tisa;
				font-size: 1.7em;
				font-weight: $regular;
				margin-bottom: 1.5em;
				border: 1px solid lighten($lightGray, 15%);
				transition: border .25s ease-in-out, color .25s ease-in-out;
				
				&:focus
				{
					border-color: $blue;
					color: $blue;
				}
			
				&[type="submit"]
				{
					font-family: $helvetica;
					background-color: $medGray;
					color: $white;
					padding: .5em;
					letter-spacing: 1px;
					transition: background-color .25s ease-in-out;
					
					&:hover
					{
						background-color: $blue;
						cursor: pointer;
					}
				}
				
				&[name="need"]
				{
					height: 4em;	
				}
				
				&[name="details"]
				{
					height: 8em;
				}
			
			}
			
			
			textarea
			{
				resize: none;
			}
			
			.half
			{
				width: 49%;
			}
			
			.full
			{
				width: 100%;
			}
		}
		
	}
	
	#contactButtonWrapper
		{
			background-color: $blue;
			padding: 110px 0 110px;
		
			#contactButton
			{
				margin: 0 auto;
				font-family: $helvetica;
				font-size: 2em;
				font-weight: $medium;
				text-align: center;
				padding: 1em 1.3em;
				display: table;
				color: $white;
				border: 2px solid $white;
				transition: all .25s ease-in-out;
				
				&:hover
				{
	/*				color: darken(mix($white, $blue, 50%), 60%);
					border-color: darken(mix($white, $blue, 50%), 60%);*/
					background-color: $white;
					color: $blue;
				}
			}
		}

#caseStudies
{
	@include fullHeight;

	#top
	{
		@include topPanel;
		background-image: url(../assets/images/featureRecording.png);
		background-color: lighten($medGray, 20%);
		background-blend-mode: multiply;
		
		div
		{
			text-align: center;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			
			h1
			{
				font-family: $helvetica;
				font-weight: $medium;
				font-size: 4em;
				color: $white;
				
				span
				{
					display: block;
					padding-top: 2em;
					font-family: $tisa;
					font-weight: $light;
					font-size: .5em;
					color: $white;
				}//End Span
			}//End h1
		}//End div
	}//End top

	.casePull
	{
		padding: 100px $desktopPadding 185px;
		text-align: center;
		
		.icon
		{
			height: 67px;
			margin-bottom: 75px;
		}
		
	}//End casePull
	
	.caseMulti
	{
		padding: 100px $desktopPadding 185px;
		text-align: center;
		
		.icon
		{
			height: 67px;
			margin-bottom: 75px;
			margin-top: -50px;
		}
		
		&.textBlue
		{
			h2, h3, h6, q
			{
				color: $blue;
			}
			
			path
			{
				fill: $blue;
				color: $blue;
			}
		}
		
		&.textRed
		{
			h2, h3, h6, q
			{
				color: $red;
			}
			
			path
			{
				fill: $red;
				color: $red;
			}
		}
		
		&.textGreen
		{
			h2, h3, h6, q
			{
				color: $green;
			}
			
			path
			{
				fill: $green;
				color: $green;
			}
		}
		
		.thirdIcons
		{
			text-align: center;
			width: 28.3%;
			margin-right: 7.55%;
			
			&.last
			{
				margin-right: 0 !important;
			}
			
			svg
			{
				width: 60%;
				margin-bottom: 2em;
				vertical-align: middle;
			}
			
		}	
		
		.halfIcons
		{
			width: 46.225%;
			margin-right: 7.55%;
			
			&.last
			{
				margin-right: 0 !important;
				
				img
				{
				text-align: right;
				}
			}
			
			img, svg
			{
				width: 80%;
				margin-bottom: 2em;
				vertical-align: middle;
				margin-top: 35px;
				
			}
		}
		
		
		
	}//End caseMulti
	
	
	.caseImage
	{
		height: 550px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		
	}//End caseImage
	
	
	h2
	{
		font-size: 5em;
		font-family: $helvetica;
		font-weight: $bold;
		margin-bottom: 1.8em;
	}
	
	h3
	{
		text-align: left;
		font-family: $helvetica;
		font-size: 3.8em;
		font-weight: $light;
		line-height: 1.4em;
		padding-right: $oneCol;
		margin-top: 12px;
		
		span
		{
			margin-left: -.3em;
			color: inherit;
			
		}
	}
	
	h4
	{
		margin: 0 auto;
		font-family: $helvetica;
		font-weight: $regular;
		font-size: 2.1em;
		line-height: 1.7em;
		text-align: left;
	}
	
	h5
	{
		text-align: left;
		font-family: $helvetica;
		font-size: 1.6em;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: $medium;
		margin-bottom: .5em;
		
	}
	
	h6
	{
		font-family: $tisa;
		font-size: 2.3em;
		font-weight: $bold;
	}
	
	p
	{
		text-align: left;
		font-family: $tisa;
		font-size: 2em;
		color: $medGray;
		line-height: 1.7em;
		font-weight: $regular;
		margin-bottom: 2em;
		
		a
		{
			cursor: pointer;
		}
	}
	
	q
	{
		font-family: $helvetica;
		font-size: 3.8em;
		font-weight: $light;
		line-height: 1.4em;
		display: block;
		margin-top: 80px;
		margin-bottom: 80px;
		
		&::before
		{
			content: '\201C ';
		}	
		
		&::after
		{
			content: '\201D ';
		}
	}
	
}

footer
{
	border-top: 1px solid $lightGray !important;
	width: 100% !important;
	
	h4
	{
		font-family: $tisa !important;
		text-align: center !important;
		font-size: 1.5em !important;
		font-weight: $medium !important;
		color: $lightGray !important;
		padding: 20px 0 !important;
		line-height: 2.2em !important;
	}
}

/*ADJUSTMENT CLASSES*/

.clear
{
	clear: both;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.center
{
	text-align: center;
	margin: 0 auto;
}

.oneCol
{
	width: $oneCol;
}


.threeCol
{
	width: $threeCol;
}

.threeHalfCol
{
	width: $threeHalfCol;
}

.fourCol
{
	width: $fourCol;
}

.fiveCol
{
	width: $fiveCol;
}

.eightCol
{
	width: $eightCol;
}

.bgGreen
{
	background-color: $green;
}

.bgGray
{
	background-color: $bgGray;
}

.bgDarkGray
{
	background-color: $bgDarkGray;
}

.blockCenter
{
	margin: 0 auto;
}

.spaceBelow
{
	margin-bottom: 100px;
}

.noSpaceAbove
{
	margin-top: 0 !important;
}

.tallImage
{
	height: 650px !important;
}